section > header {
  font: var(--tui-font-heading-6);
}

section > p {
  margin: 1rem 0 0 0;
}

section > .legal-note {
  padding-bottom: 1.25rem;
}

section > div > button {
  margin-right: 1.5rem;
}

section > .botonera {
  text-align: end;
}
