//breakpoints
@import "@taiga-ui/core/styles/taiga-ui-local";

.tabs {
  inline-size: "calc(100% - 15.625rem)";
  justify-content: flex-end;
  box-shadow: none;
  height: 80px;
  align-items: center;
  width: 42vw;
}

.logo-container img {
  height: 62px;
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  min-width: 0; // evita overflow
}

h1 {
  margin: 0.25rem 0.25rem 0.25rem 1rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 1rem;
  margin: 0.25rem 0.25rem 0.25rem 1rem;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

@media #{ $tui-desktop } {
  h2 {
    display: none;
  }
  .logo-container > img {
    height: 52px;
  }
}

@media #{ $tui-mobile } {
  header {
    padding: 0.5rem 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .tabs {
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;
  }
}
