:host {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.boton-enviar {
  display: flex;
  justify-content: flex-end;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input[type="checkbox"] {
    margin: 0;
  }
}

button {
  padding: 0rem 3rem;
}
