.cita-destacada {
  background-color: var(--mat-sys-color-primary);
  color: var(--mat-sys-color-on-primary);
  padding: 2rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.cita-playfair {
  font-family: "Playfair Display Italic", serif;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: center;
  color: #6a1b1a; // burdeos
}
