@use "@angular/material" as mat;
@use "theme/theme-colors-typography.scss";

@include mat.core();

html {
  // Aplica el tema a todos los componentes Angular Material
  @include mat.all-component-themes(theme-colors-typography.$light-theme);
}

// tema oscuro
@media (prefers-color-scheme: dark) {
  html {
    @include mat.all-component-colors(theme-colors-typography.$dark-theme);
  }
}

// estilos globales
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

// Para zonas NO Angular Material :
// color: var(--mat-sys-color-primary);
// background-color: var(--mat-sys-color-background);
